body { font-family: 'Inter', sans-serif; }
.headline-cover { background: #2c2c2c; }
.blog-content {
  a { border-bottom: 2px solid black; }
  img {
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: 1px solid rgb(243 244 246);
  }
  p { margin-bottom: 1.5rem; }
  hr { margin: 1rem 0; }
  blockquote {
    border-left: .5rem solid #707070;
    padding: 1rem 0 2rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.6;
  }
}