# IDEs
/.idea
/.vscode

# Vendor
node_modules
package-lock.json

# Build
/docs

# Svelte
.DS_Store
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
