# IDEs
/.idea
/.vscode

# Vendor
node_modules

# Build
/public
static/css/style.min.css
static/css/tailwind.min.css

# Svelte
.DS_Store
/build
/.svelte-kit
/package
.env
.env.*
.development
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
